@import "tailwindcss";
@import "@sandlada/material-design-css/preset.css";
@import "@sandlada/material-design-css/typography/tw.css";
@import "@sandlada/material-design-css/color/tw.css";
@import "@sandlada/material-design-css/shape/variables.css";
@import "@sandlada/material-design-css/shape/tw.css";
@import "@sandlada/material-design-css/prebuilt-colors/content/h150c60t60-2025-oled.css";

@theme {
    --font-sans: "Google Sans Flex Variable", "Google Sans Flex", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-mono: "Google Sans Flex Variable", "Google Sans Flex", ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace;
    --font-display: "Pirata One", "Google Sans Flex Variable", sans-serif;
}

@layer base {

    :root {
        --md-ref-typeface-brand: "Google Sans Flex Variable";
        --md-ref-typeface-plain: "Google Sans Flex Variable";

        --md-sys-typescale-body-large-font: "Google Sans Flex Variable";
        --md-sys-typescale-body-medium-font: "Google Sans Flex Variable";
        --md-sys-typescale-body-small-font: "Google Sans Flex Variable";
        --md-sys-typescale-display-large-font: "Google Sans Flex Variable";
        --md-sys-typescale-display-medium-font: "Google Sans Flex Variable";
        --md-sys-typescale-display-small-font: "Google Sans Flex Variable";
        --md-sys-typescale-headline-large-font: "Google Sans Flex Variable";
        --md-sys-typescale-headline-medium-font: "Google Sans Flex Variable";
        --md-sys-typescale-headline-small-font: "Google Sans Flex Variable";
        --md-sys-typescale-label-large-font: "Google Sans Flex Variable";
        --md-sys-typescale-label-medium-font: "Google Sans Flex Variable";
        --md-sys-typescale-label-small-font: "Google Sans Flex Variable";
        --md-sys-typescale-title-large-font: "Google Sans Flex Variable";
        --md-sys-typescale-title-medium-font: "Google Sans Flex Variable";
        --md-sys-typescale-title-small-font: "Google Sans Flex Variable";

        --md-sys-typescale-emphasized-body-large-font: "Google Sans Flex Variable";
        --md-sys-typescale-emphasized-body-medium-font: "Google Sans Flex Variable";
        --md-sys-typescale-emphasized-body-small-font: "Google Sans Flex Variable";
        --md-sys-typescale-emphasized-display-large-font: "Google Sans Flex Variable";
        --md-sys-typescale-emphasized-display-medium-font: "Google Sans Flex Variable";
        --md-sys-typescale-emphasized-display-small-font: "Google Sans Flex Variable";
        --md-sys-typescale-emphasized-headline-large-font: "Google Sans Flex Variable";
        --md-sys-typescale-emphasized-headline-medium-font: "Google Sans Flex Variable";
        --md-sys-typescale-emphasized-headline-small-font: "Google Sans Flex Variable";
        --md-sys-typescale-emphasized-label-large-font: "Google Sans Flex Variable";
        --md-sys-typescale-emphasized-label-medium-font: "Google Sans Flex Variable";
        --md-sys-typescale-emphasized-label-small-font: "Google Sans Flex Variable";
        --md-sys-typescale-emphasized-title-large-font: "Google Sans Flex Variable";
        --md-sys-typescale-emphasized-title-medium-font: "Google Sans Flex Variable";
        --md-sys-typescale-emphasized-title-small-font: "Google Sans Flex Variable";

        background-color: var(--md-sys-color-surface);
    }

    body {
        margin: 0;
        font-family: "Google Sans Flex Variable", "Google Sans Flex", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }

    code,
    kbd,
    samp,
    pre {
        font-family: "Google Sans Flex Variable", "Google Sans Flex", ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace;
    }

    astro-island {
        border-radius: inherit;
    }

    [hidden],
    [invisible] {
        display: none;
    }

    * {
        scroll-behavior: smooth;
    }

}

@layer utilities {

    .wordmark {
        font-family: "Pirata One", "Google Sans Flex Variable", serif;
    }

    .width-protection {
        margin-left: auto;
        margin-right: auto;
        padding-inline: 24px;
        @media (width >= 600px) {
            max-width: 600px;
        }

        @media (width >= 840px) {
            max-width: 840px;
        }

        @media (width >=1200px) {
            max-width: 1200px;
        }

        @media (width >= 1600px) {
            max-width: 1600px;
        }
    }

}
